.DS_Store
Thumbs.db

*.swp
*.swo
*.swn
*.swm
*.bak
*.tmp
*.tmp.*
*.~*
*.log
*.log.*
*.vscode
.vscode/
.vscode/*

.idea/
*.iml

node_modules/
npm-debug.log
yarn-error.log

/build/
/dist/
/out/
/.next/

.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

/pnpm-lock.yaml
/yarn.lock

Thumbs.db
.DS_Store

*.log

*.tmp
*.swp

*.yml
*.yaml
*.json

*.zip
*.gz

.vscode/
deployment/
